.top{
  display: block;
  text-align: center;
  /* padding: 1px; */
  background-color:#fe5114;
  color: white;
}
.top h1{
  margin: 0;
  font-size: 22px;
  font-weight: 900;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  

}
.top p{
  font-size: medium;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 300;
}
/* .logo img {
  position: relative;
  height: 40px;
  width: 40px;
  justify-content: center;
} */
.logo img {
  position: relative;
  height: 70px;
  width: 80px;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .top h1{
    font-size:medium;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .top p{
    font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}
