.about-imag {
  justify-content: center;
  background: linear-gradient(
      rgba(16, 65, 245, 0.7), 
      rgba(46, 213, 130, 0.7)
    ), 
    url("./Assets/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 800px; 
  width: 100%;  */
}

.abtheader h1 {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: aliceblue;

}
.abtheader h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: against, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.abt-imagealine {
  display: flex;
  justify-content: center;
}
.abt-us-h1 {
  font-size: 28px;
  line-height: 36px;
  color: black;
}
.abtus-p p {
  font-weight: 500;
  font-size: 17px;
  color: #333;

  position: relative;
  width: 134%;
  margin-left: 0px;
  margin-top: 10px;
  /* padding-right: 123px; */
}
.abt-img-para-dn {
  display: flex;
  padding: 0 189px 0 335px;
  color: #333;
  justify-content: center;
}

.abt-drop {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 700;
  font-family: against, sans-serif;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
}

@media screen and (max-width: 850px) {
  .abt-img-para-dn {
    padding: 0px;
  }
  .abtus-p p {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .abt-img-para-dn {
    padding: 0px;
  }
  .abtus-p p {
    width: 100%;
  }
}

.abt-droptext-lt-rt {
  display: flex;
  justify-content: center;
}

.abt-droptext-lt {
  box-sizing: border-box;
  /* margin-left: 170px; */
  margin-top: 70px;

  width: 562px;
}
.abt-droptext-rt {
  margin-left: 80px;
  /* margin-top: -789px; */
  box-sizing: border-box;
  /* position: absolute; */
  width: 562px;
}

.droptext-rt {
  background: #2ed582;
  margin-top: 100px;
  color: black;
  padding: 15px;
  font-size: 19px;
  text-align: center;
}

.droptext-lt {
  margin-top: 80px;
  background: #2ed582;

  color: black;
  padding: 15px;
  font-size: 19px;
  text-align: center;
}

.center-line {
  box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 170px;
  margin-top: 70px;
  width: 562px;
}

.vl {
  border-left: 2px solid gray;
  height: 460px;
  position: absolute;
  /* margin-left: 950px; */
}

.container2 {
  margin-top: 100px;
}
.abt2-imagealine {
  display: flex;
  justify-content: center;
}

.abtus-p2 {
  font-weight: 500;
  font-size: 19px;
  color: #333;
  background-color: #2ed582;
  position: relative;
  /* width: 134%; */
  margin-left: 0px;
  height: 100%;
  /* width: 100%; */
  /* margin-top: 10px; */
}

.abt-us-h3 {
  font-size: 28px;
  line-height: 36px;
  color: black;
  /* padding: 20px; */
}

.abt-us-p3 {
  /* padding: 20px; */
}
.row {
  margin-right: calc(0 * var(--bs-gutter-x));
}

.abt-end-para {
  text-align: center;
  font-size: 40px;
  /* font-family: fangsong; */
  margin-top: 75px;
  font-family: against, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.abt-end-para-all {
  width: 71%;
  margin: 0 auto;
}
.abt-end-para-p {
  margin-bottom: 2%;
  font-size: 19px;
}

.abt-end-para-btn {
  padding: 10px 45px;
}

.abt-end-para-btn:hover {
  background-color: #2ed582;
  transition: 2s;
}
.abt-end-para-btn:active {
  transition: ease-in-out;
}

@media screen and (max-width: 950px) {
  .abt-droptext-lt {
    width: 45%;
    margin-left: 0;
  }
  .abt-droptext-rt {
    width: 45%;
    margin-left: 209px;
    margin-top: -930px;
  }

  .vl {
    /* margin-left: 200px; */
    margin-top: 75px;
    height: 981px;
  }
  .abt-end-para-all {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 950px) {
  .abt-droptext-lt-rt {
    display: grid;
  }
  .abt-droptext-lt {
    width: 45%;
    margin-left: 0;
  }
  .abt-droptext-rt {
    width: 45%;
    margin-left: 209px;
    margin-top: -930px;
  }


}
