.about-imag {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient( rgba(195, 55, 100, 0.8)) url("./Assets/about-us.webp"); */
  background: -webkit-linear-gradient(
      rgba(195, 55, 100, 0.3),
      rgba(205, 1, 92, 0.4)
    ),
    url("./Assets/about-us.webp");
  background: linear-gradient(rgba(195, 55, 100, 0.3), rgba(205, 1, 92, 0.4)),
    url("./Assets/about-us.webp"); /* The least supported option. */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 2px; */
  font-size: 2rem;
}
.abtheader h1 {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: aliceblue;
}
.abtheader h2 {
  font-size: 41px;
  color: #ca2555;
  text-align: center;
}

.abt-imagealine {
  display: flex;
  justify-content: center;
}
.abt-us-h1 {
  font-size: 28px;
  line-height: 36px;
  color: #ca2555;
}
.abtus-p p {
  font-weight: 500;
  font-size: 17px;
  color: #333;

  position: relative;
  width: 134%;
  margin-left: 0px;
  margin-top: 10px;
  /* padding-right: 123px; */
}
.abt-img-para-dn {
  display: flex;
  padding: 0 189px 0 335px;
  color: #333;
}

.abt-drop{
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 700;
}


@media screen and (max-width:850px) {
  .abt-img-para-dn {
  padding: 0px;
  }
  .abtus-p p {
  
    width: 100%;

  }
} 
@media screen and (max-width:950px) {
  .abt-img-para-dn {
  padding: 0px;
  }
  .abtus-p p {
  
    width: 100%;

  }
} 
  
