.img-pink {
  display: flex;
  justify-content: center;
  background-image: url("../menu\ heading.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2px;
  font-size: 2rem;
}

.header h1 {
  width: 100%;
  padding: 100px 0;
  text-align: center;

  color: aliceblue;
}
.header h2{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 41px;
  padding: 0 293px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header h2{
    padding: 0;
  }
}
