.acade-abt-nav {
  height: 300px;
  width: 100%;
  /* position: absolute; */
  background-repeat: no-repeat;
  opacity: 0.9;
  background: black;
  overflow: hidden;
  /* background: #c33764; */
  /* fallback colour. Make sure this is just one solid colour. */
  /* background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(29, 38, 113, 0.8)
    ),
    url("https://bit.ly/2rlzaXi"); */
  /* background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(29, 38, 113, 0.8)), */
  background: linear-gradient(rgb(254,81,20, 0.5), rgba(254,81,20, 0.5)),   
    url("./acadeimg/hair_cut\ 6.jpg"); /* The least supported option. */
  background-size: cover;
}
.acade-abt h6 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 8%;
  font-size: 35px;
}
.acade-abt h4 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: baseline;
  font-size: 27px;
}

.abut-acade-top {
  width: 45%;
}
.abut-acade-top h6 {
  margin-top: 50px;
  font-size: 20px;
}

.abut-acade-top p {
  font-size: 18px;
  line-height: 35px;
}

.abtacade-img {
  margin-top: -766px;
  margin-left: 770px;
  width: 45%;
  object-fit: cover; 
}

.acade-abt-para-why-us {
  display: flex;
  padding: 50px 40px;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 100px;
}
.acade-abt-para-why-us p {
  line-height: 30px;
  width: 245px;
  font-size: 17px;
}

.acade-abt-para-why-us h6 {
  font-size: 20px;
  font-weight: bold;
}

.abt-para-color-1 {
  background-color: bisque;
}

.abt-para-color-2 {
  background-color: lightblue;
}

.abt-para-color-3 {
  background-color: lightcyan;
}

.abt-para-color-4 {
  background-color: lightgoldenrodyellow;
}

@media screen and (max-width: 850px) {
  .acade-abt h6 {
    text-align: center;
    font-size: 20px;
  }
  .abut-acade-top h6 {
    margin: 0;
    text-align: center;
  }
  .abut-acade-top {
    width: 100%;
  }
  .abut-acade-top h1 {
    text-align: center;
    font-size: 22px;
  }
  .acade-abt-para-why-us {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .acade-abt-para-why-us p {       
    width: 100%;
  }

  .abtacade-img {
    width: 100%;
    margin: 0;
  }
}
