.home-bg {
  height: 270px;
  width: 100%;
  /* position: absolute; */
  background-repeat: no-repeat;
  /* opacity: 0.9; */
  /* background-color: darkslateblue; */
  overflow: hidden;
  /* background: #c33764;
  background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(195, 55, 100, 0.8)
    ),
    url("./acadeimg/701.jpg");
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(29, 38, 113, 0.8)),
    url("./acadeimg/701.jpg"); */

  /* background: linear-gradient(rgb(254, 81, 20, 0.5), rgba(254, 81, 20, 0.5)),
    url("./acadeimg/701.jpg"); */
    background: linear-gradient(rgb(16, 65, 245, 0.7), rgb(46, 213, 130, 0.7)),  url("./acadeimg/701.jpg");;
  background-size: cover;
  background-attachment: fixed;
}

.acade-back-text-color h1 {
}
.acade-back-text-color h4 {
}
.acade-back-text-color p {
  font-size: 20px;
  font-weight: 700;
}

.acard-btns {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.acard-btn:hover {
  background-color: rgb(254, 81, 20, 0.8);
  color: black;
  transition: 2s;
}

.acard-btn {
  margin-top: 7%;
  font-size: 18px;
  padding: 6px 12px;
  background-color: transparent;
  color: white;
}

.acade-back-text-color {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.acard-abtbtn {
  /* display: flex;
  top: 20%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  position: absolute;
  margin-left: 41%; */
  margin-top: 7%;
  font-size: 18px;
  padding: 6px 12px;
  background-color: transparent;
  color: white;
}
.acard-abtbtn:hover {
  cursor: pointer;
  background-color: rgb(254, 81, 20, 0.8);
  color: black;
  transition: 2s;
}

.home-headacade h4 {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
/* .acadehometop{

} */
.paraacadehome p {
  display: flex;
  font-size: 25px;
  padding: 20px 90px;
  width: 100%;
  font-size: 17px;
}
@media screen and (max-width: 850px) {
  .home-bg {
    width: 100%;
    height: auto;
  }

  .acade-back-text-color {
    width: 100%;
   
}
  .acade-nav p {
    /* font-size: 14px;
    color: white;
    font-weight: 200px;
    text-align: center;
    margin-top: -35px; */
  }

  /* .acard-btns{
    display: flex;
    justify-content: space-evenly;
  } */
  .acard-btn {
    /* display: flex;
    margin-top: 85px;
    margin-left: 200px; */
  }
  .acard-abtbtn {
    /* display: flex;
    margin-top: 85px;
    margin-left: 75px; */
  }
  .acade-nav h1 {
    /* display: flex;
    margin-top: -103px;
    font-size: 24px;
    margin-left: 60px;
    align-items: center;
    color: white;
    justify-content: center; */
  }
  .acade-nav h4 {
    /* display: flex;
    margin-top: -62px;
    font-size: 18px;
    margin-left: 90px;
    color: white;
    text-align: center; */
  }
  .acadehometop h4 {
    padding: 20px;
    /* text-align: center; */
  }
  .acadehometop p {
    padding: 20px 25px;
    text-align: center;
  }
}
/* abovemedia query compleated */
.acade-home-dep {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
}
.greeks {
  /* width: 300px; */
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.acade-home-dep-card {
  width: 23rem;
  /* height: 300px; */
  /* background-color: #eb3989; */
}
.acade-home-dep-card-title {
  font-size: 20px;
  /* text-align: center; */
  /* padding: 0 38px; */
}
.acard-moreinfo {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background: none;
  font-size: large;
  border: none;
  margin-bottom: 5%;
}
.acard-moreinfo:hover {
  /* color: #cd015c; */
  transition: 2s;
  background-color: rgb(254, 81, 20, 0.8);
}
.acade-home-card-pic {
  transition-duration: 1500ms;
  padding: 50px;
  transition: transform 1.1s; /* Animation */
  width: 18rem;
  margin: 0 auto;
}
.acade-home-card-pic:hover {
  transform: scale(
    1.3
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.acade-home-dep-card-firstrow {
  display: flex;
  justify-content: space-evenly;
  /* gap: 70px; */
}
.acade-home-dep-card-secondrow {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 3%;
}

@media screen and (max-width: 850px) {
  .acade-home-dep-card-firstrow {
    flex-direction: column;
    margin-top: 5%;
    display: flex;
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
  }
  .acade-home-dep-card-secondrow {
    flex-direction: column;
    margin-top: 0;
    display: flex;
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.masterclasses h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}

.master-card {
  width: 25rem;
  /* background-color: #eb3989; */
}
.master-card-title {
  font-size: 20px;
  /* text-align: center; */
  /* padding: 0 38px; */
}
.master-moreinfo {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: large;
  margin-left: 102px;
}
.master-moreinfo:hover {
  /* color: #cd015c; */
  background-color: #eb3989;
  transition: 2s;
}
.greek {
  /* width: 300px; */
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}
.master-card-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* margin: 0 auto; */
  /* width: 96%; */
  transition: 0.5s all ease-in-out;
}
.master-card-pic:hover {
  /* transform: scale(
  1.3 */
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.master-card-row {
  display: flex;
  justify-content: space-around;
  /* gap: 70px; */
}

@media screen and (max-width: 850px) {
  .master-card-row {
    flex-direction: column;
    margin-top: 5%;
    display: flex;
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
  }
}

.background-acade-home {
  margin-top: 3%;
  min-height: 100%;
  background: url(https://static.wixstatic.com/media/27563e_12f13af0ada142919039687c4cea2d32~mv2.jpg/v1/fill/w_940,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/enroll-now.jpg)
    rgb(254, 81, 20, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.background-acade-home h2 {
  text-align: center;
  font-size: 40px;
  /* padding-top: 200px; */
  color: aliceblue;
}
.background-acade-home p {
  font-size: 22px;
  text-align: center;
  color: aliceblue;
  width: 80%;
  margin: 0 auto;
}
.background-acade-home-btn {
  text-align: center;
  background-color: transparent;
  margin-left: 45%;
  padding: 8px 20px;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
  /* margin-bottom: 9%; */
}

.background-acade-home-btn:hover {
  background-color: #eb3989;
  transition: 2s;
}
@media screen and (max-width: 850px) {
  .background-acade-home {
    width: 101%;
  }
  .background-acade-home h2 {
    /* padding: 20px; */
  }

  .background-acade-home p {
    /* padding: 20px; */
    width: 100%;
  }
  .background-acade-home-btn {
    display: flex;
    margin: 0 auto;
  }
}

/*****************************************Our Best Features*****************************************/

.over-all-our-best {
  background-color: #2ed582;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  margin-top: 10px;
}

.our-best-image-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.our-best {
  box-sizing: border-box;
  width: 50%;
  /* margin-left: 100px; */
  margin-top: 60px;
  color: white;
}
.our-best-head {
  font-size: 50px;
}

.our-best-1stpara {
  font-size: 20px;
  margin-bottom: 40px;
}

.placement-offer h2 {
  display: flex;

  margin-top: -110px;
  margin-left: 153px;
}
.placement-offer p {
  display: flex;
  margin-bottom: 50px;
  margin-left: 154px;
  font-size: 18px;
}

.card-back-fix {
  /* background-image: url(https://homeservicebeautyparlour.com/assets/images/06/skin-care-slider.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: linear-gradient(rgb(16, 65, 245, 0.7), rgb(46, 213, 130, 0.7)), url(http://localhost:3000/static/media/701.575a383….jpg);
}  

.our-best-logo {
  width: 110px;
}

.our-best-img {
  /* width: 45%;
  margin-left: 760px;
  margin-top: -772px; */
  box-sizing: border-box;
  display: flex;
}

@media screen and (max-width: 850px) {
  .our-best {
    width: 100%;
    margin: 0;
  }
  .placement-offer p {
    margin-left: 90px;
  }
  .our-best-img {
    margin: 0;
    width: 100%;
    margin-top: 5%;
  }
  .over-all-our-best {
    display: flex;
    flex-direction: column;
  }
  .our-best-image-full {
    width: 100%;
  }
}
