.acade-franche-nav{
    height: 450px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.9;
    background: black;
    overflow: hidden;
    background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(
        rgba(29, 38, 113, 0.8),
        rgba(195, 55, 100, 0.8)
      ),
      url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
      url("./abt.jpg"); /* The least supported option. */
    background-size: cover;
}
.acade-franche h6 {
    display: flex;
    top: 30%;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    position: absolute;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 35px;
}
.acade-franche h4{
    display: flex;
    top: 30%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    position: absolute;
    margin-left: 34%;
    margin-top: 7%;
    font-size: 27px;

}
.acade-franchebtn{
    display: flex;
    top: 30%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    position: absolute;
    margin-left: 41%;
    margin-top: 11%;
    font-size: 18px;
    padding: 10px;
    background-color:transparent;

}
.acade-franchebtn:hover{
    cursor: pointer;
    background-color: #cd015c;
    transition: 0.9s;
}