.all-connect {
  /* display: flex; */
  margin: 0 auto;
  position: relative;
  width: 90%;
  
}

.card-text {
  margin-top: 10px;
  
}

.card-text svg {
  width: 25px;
  
}
.card-body-all {
  width: 50rem;
  background-image: url(https://i.pinimg.com/originals/7d/4a/5d/7d4a5d4e57cc73bb6c5073d0a7c063d0.jpg);
  margin: 0 auto;
 background-attachment: fixed;
}

.right-card-aline {
  width: 50rem;
  background: antiquewhite;
  
}
.card-alingnment {
}
@media screen and (max-width: 850px) {
  .all-connect {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-body-all {
    width: 100%;
  }

  .right-card-aline {
width: 100%;  
}
}
