.bride-home-head {
  font-size: 60px;
  /* font-family: Courier, monospace; */
  line-height: 162px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #bf135d;
  margin: 0 383px;
  color: black;
  height: 100px;
  margin-top: 20px;
  font-family: against, sans-serif;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
}
.topmargin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -110px;
  width: 440px;
  margin-bottom: -4%;
}

@media screen and (max-width: 850px) {
  .bride-home-head {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    margin: 0;
    font-size: 20px;
  }
  .topmargin {
    justify-content: center;
    width: 330px;
    /* margin-left: 140px; */
  }
}




/*************************************************imagescroller*********************************************/
.consultent{
  max-height: 580px;
  display: flex;
  /* margin-left: 80px; */
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 72px;
  height: 520px;

}

.consultent::-webkit-scrollbar {
  display: none;
}

.consulting-img{
  width: 200px;
  height: 334px;
  box-sizing: border-box;
  border-radius: 50px;
  object-fit: cover;
}
.consulting-rightimg{
  width: 200px;
  height: 334px;
  box-sizing: border-box;
  border-radius: 50px;
  object-fit: cover;
}
.consulting-leftimg{
  width: 200px;
  height: 334px;
  box-sizing: border-box;
  border-radius: 50px;
object-fit: cover;
}

.consult-para{
      /* display: flex; */
      margin-left: 229px;
      margin-top: -310px;
      /* margin-right: 50px; */
      width: 300px;    
  }

  .consult-para h2{ 
  font-size: 35px;
  }

  .consult-para h6{ 
    font-size: 25px;
    }

    .consult-para p{ 
    font-size: 17px;
    }

.consult{
  min-width: 606px;
  width: 100%;
  gap: 24px;
}

.consult-right{
  min-width: 606px;
  width: 100%;
  gap: 24px;
  margin-top: 150px;
}

.consult-left{
  min-width: 606px;
  width: 100%;
  gap: 24px;
}


/********************************************trial box*******************************/
.bridehometrial {
  box-sizing: border-box;
  background-color: #ffc0cb;
  /* position: absolute; */
  margin: 50px 110px;
  border-radius: 20px;
  height: 500px;
}
.bridehometrial h1 {
  font-size: 60px;
  margin-left: 43px;
  margin-top: 7%;
  padding-top: 100px;
}
.bridehometrial p {
  font-size: 20px;
  padding-right: 763px;
  line-height: 30px;
  margin-top: 3%;
  margin-left: 59px;
  margin-bottom: 6%;
}
.trialbooknow-btn{
  display: flex;
  margin-left: 65px;
  margin-top: -63px;
  box-sizing: border-box;
  padding: 8px 25px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

a{
  text-decoration: none;
}
.book-icon-bride{
position: relative;
}

.trialcard-img {
  display: flex;
  float: right;
  margin-top: -368px;
  margin-right: 96px;
  height: 400px;
}
@media screen and (max-width:850px) {
  .bridehometrial {
    width: 100%;
    margin: 0;
    height: 770px;

  }
  .bridehometrial p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .bridehometrial h1 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .trialcard-img {
    margin: 0;
  }
  .trialbooknow-btn{
   display: flex;
   margin: 0;
  
  }
}

                                        /* Pre-Bridal Services */



.brideTrial-Makeup {
  box-sizing: border-box;
  background-color: #ffc0cb;
  /* position: absolute; */
  margin: 50px 110px;
  border-radius: 20px;
  height: 500px;
}
.brideTrial-Makeup h1 {
  font-size: 60px;
  margin-left: 43px;
  margin-top: 10%;
  padding-top: 100px;
}
.brideTrial-Makeup p {
  font-size: 20px;
  padding-right: 763px;
  
  line-height: 30px;
  margin-top: 3%;
  margin-left: 59px;
  margin-bottom: 6%;
}
.Trial-Makeup-btn{
  display: flex;
  margin-left: 65px;
  margin-top: -63px;
  box-sizing: border-box;
  padding: 8px 25px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
.books-icon-bride{
position: relative;
}

.Trial-Makeupcard-img {
  display: flex;
  float: right;
  margin-top: -368px;
  margin-right: 96px;
  height: 400px;
}

.image-cross-effect-head{
  text-align: center;
  font-size: 50px;
}

.image-comparision{
width: 400px;
height: 480px;
object-fit: cover;
margin-left: 530px;
margin-top: 100px;
margin-bottom: 110px;
}
.before-para{
  position: absolute;
  margin-top: -437px;
  margin-left: 419px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 100px;
  font-family: 'Sevillana', cursive;
  color: darkgrey;
  z-index: -1;
}
.after-para{
  margin-top: -530px;
  margin-left: 832px;
  z-index: -1;
  transform: rotate(90deg);
  writing-mode: rl-tb;
  font-size: 100px;
  font-family: 'Sevillana', cursive;
  color: darkgrey;
  position: absolute;
}

.mar-flower1{
  width: 300px;
  position: absolute;
  transform: rotate(90deg);
  margin-left: 438px;
  margin-top: -30px;
 z-index: -2;
}
.mar-flower2{
  width: 300px;
  position: absolute;
  margin-top: -324px;
  margin-left: 717px;
  z-index: -2;
  transform: rotate(-90deg);
}

@media screen and (max-width:850px) {
  .brideTrial-Makeup {
    width: 100%;
    margin: 0;
    margin-top: 60px;
    height: 770px;

  }


  .brideTrial-Makeup p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .brideTrial-Makeup h1 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .Trial-Makeupcard-img  {
    margin: 0;
  }
  .Trial-Makeup-btn{
   display: flex;
   margin: 0;
  
  }

                                                       /* brfore & after */
  .image-cross-effect{
    float: right;
  }
  .image-comparision{
    width: 316px;
    margin-right: 24px;

  }
  .before-para {
    font-size: 45px;
    z-index: 0;
    margin-left: 517px;
    margin-top: -277px;
  }
  .after-para{
    margin-left: 750px;
    z-index: 0;
    font-size: 45px;
  }
  .mar-flower2 {
    margin-left: 588px;
  }
  }