/* .bridenavbars {
 
  width: 100%;
}
.navbar-brand .navbar-nav-navs {
  display: flex;
  position: relative;
  text-decoration: none;
}
.navbar-collapses {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--dark-color);
  height: 100%;
  padding: 7rem 0 0 3rem;
  transform: translateX(100%);
  transition: var(--transition);
  list-style: none;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.show-navbar-collapses {
  transform: translateX(0);
}
.navbar-close-btn {
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.nav-item-acades {

  list-style: none;
}
.navbar-nav-navs :hover {
  color: aliceblue;
}
.navbar-nav-navs {

  background-color: #ca0159;
  list-style: none;
  left: 0rem;
  top: 2rem;
  position: absolute;
  padding: 41px;
}

.nav-link-navs {

  position: relative;
  text-decoration: none;
  color: black;
}
.nav-link-navs::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: var(--transition);
  list-style: none;
}
.nav-link-navs:hover::after {
  opacity: 1;
}


@media screen and (min-width: 992px) {
  .navbar-collapses {
    transform: translateX(0);
    position: relative;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .navbar-close-btn,
  .navbar-open-btn {
    display: none;
  }
  .navbar-nav-navs {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    list-style: none;
 
    text-decoration: none;
    gap: 40px;
    height: 60px;
    padding: 20px;
    width: 100%;
    top: 0rem;
  }
  .nav-item-acades {
    margin: 0;
    margin-left: 3.6rem;
  }
  .nav-link-navs {
    font-size: 1.5rem;
    font-weight: 500;
    transition: var(--transition);
    text-decoration: none;
    color: black;
  }
  .nav-link-navs:hover {
    color: var(--brown-color);
  }
  .nav-link-navs::after {
    display: none;
  }
} */


.brialtop{
  color: black;
    font-size: 29px;
    text-align: center;
    margin-top: -38px;
}

@media screen and (max-width: 850px) {
  .navbar-expand .navbar-nav {
    flex-direction: column;
    top: 0rem;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    left: 0px;
  }
  .navbar-dark,
  .navbar[data-bs-theme="dark"] {
    margin-top: -75px;
    margin-left: -50px;
    /* padding: 43px 1052px 59px 1px; */
    width: 290px;
  }
  .navbar-brand {
    visibility: hidden;
  }
}
.navbar {
  background-color: #cd015c;
}
.navbar-expand .navbar-nav .nav-link:hover {
  color: aliceblue;
}
.navbar-expand .navbar-nav .nav-link:active {
  color: aliceblue;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: var(--bs-navbar-nav-link-padding-x);
  font-size: 20px;
  font-weight: lighter;
}
.btn-outline-success {
  color:#ff92c8;
  border: #fff;
  font-size: 18px;
  box-sizing: border-box;
  border: 2px solid #fff;
}
.btn-outline-success:hover {
  background-color: #cd015c;
  border-color: black;
}
.btn-outline-success {
  --bs-btn-color: #cd015c;
  --bs-btn-border-color: #cd015c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cd015c;
  --bs-btn-hover-border-color: #cd015c;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cd015c;
  --bs-btn-active-border-color: #cd015c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #cd015c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cd015c;
  --bs-gradient: none;
}
