.image-handle-change-card-bride-make{
  margin-top: 347px;
  position: absolute;
  margin-left: 12px;
}



.image-handle-change-card-bride-make button img {
  width: 90px;
  height: 80px;
  object-fit: cover;
}

.image-card-change img {
  width: 280px;
  height: 410px;
  margin-top: 20px;
}

.image-handle-change-card-bride-make2{
  margin-top: 347px;
  position: absolute;
  margin-left: 12px;
}



.image-handle-change-card-bride-make2 button img {
  width: 90px;
  height: 80px;
  object-fit: cover;
}

.image-card-change2 img {
  width: 280px;
  height: 410px;
  margin-top: 20px;
}

.all-card{
  display: flex;
}
